@model IEnumerable<WebApplication1.Models.USERS_LOGS>
@{
    ViewBag.Title = "Zarzadzaj kontem";
}
<div class="well">
    <h2>@ViewBag.Title</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Haslo:</dt>
        <dd>
            @Html.ActionLink("Zmien haslo", "ChangePassword")
        </dd>
    </dl>
    <hr />
    <h4>Ostatnie logowania</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Data")
            </th>
            <th>
                @Html.DisplayName("Wykryte urzadzenie")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LOG_DATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DEVICE)
                </td>
            </tr>
        }

    </table>
</div>
</div>
