@model WebApplication1.Models.PRODUCT

@{
    ViewBag.Title = "View";
}

<div class="well container" style="margin-top: 20px">

    <div class="col-sm-7">
        @Html.HiddenFor(x => x.PRODUCT_ID)
        <h3>
            <strong>@Model.PRODUCT_DESCRIPTION</strong>
        </h3>
        <p>
            <img class="img-circle" src="~/Content/Images/kcal.png" width="30px" height="30px"/>
            Kalorie: @Model.KCAL_100
        </p>
        <p>
            <img class="img-circle" src="~/Content/Images/carbs.png" width="30px" height="30px" />
            Węglowodany: @Model.CARBS_100
        </p>
        <p>
            <img class="img-circle" src="~/Content/Images/fat.png" width="30px" height="30px" />
            Tłuszcze: @Model.FAT_100
        </p>
        <p>
            <img class="img-circle" src="~/Content/Images/protein.png" width="30px" height="30px" />
            Białko: @Model.PROTEIN_100
        </p>
    </div>
    <div clas="col-sm-5">
        <img class="img-rounded" style="width: 140px; height: 140px; margin-top: 40px" src="~/Content/Images/Products/@String.Format("{0}.jpg", @Model.PRODUCT_ID)"/>
    </div>
</div>

